:root {
  --mobile-col-gap: 5.87vw;
  --desktop-col-gap: 2.08vw;
  --color-primary: hsl(5, 85%, 63%);
  --color-secondary: hsl(35, 77%, 62%);
  --color-light-00: hsl(36, 100%, 99%);
  --color-light-01: hsl(233, 8%, 79%);
  --color-dark-00: hsl(236, 13%, 42%);
  --color-dark-01: hsl(240, 100%, 5%);
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  position: relative;
  background-color: var(--color-light-00);
  color: var(--color-dark-00);
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  line-height: 175%;
}

header,
main {
  padding: 0 4.27vw;
}
@media only screen and (min-width: 1440px) {
  header,
  main {
    padding-left: 11.46vw;
    padding-right: 11.46vw;
  }
}
@media only screen and (min-width: 1920px) {
  header,
  main {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

@media only screen and (min-width: 768px) {
  main {
    display: grid;
    justify-content: stretch;
    grid-template-columns: 3fr 2fr;
    -moz-column-gap: var(--desktop-col-gap);
         column-gap: var(--desktop-col-gap);
  }
}
@media only screen and (min-width: 1024px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

h1,
h2,
h3,
h4 {
  color: var(--color-dark-01);
  margin: 0;
}
h1 a,
h2 a,
h3 a,
h4 a {
  color: var(--color-dark-01);
  border-bottom-width: 2px;
}

h1 {
  font-size: 3rem;
  line-height: 100%;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: clamp(1.125rem, 0.25vw + 1rem, 1.188rem);
  letter-spacing: 0.07rem;
}

a {
  color: var(--color-dark-00);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border-bottom-color 0.2s ease-out;
}
a:hover {
  color: var(--color-primary);
}
a:active {
  border-bottom-color: var(--color-primary);
}

@media only screen and (min-width: 1024px) {
  p {
    line-height: 166%;
  }
}

nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 20px;
}

picture {
  width: 100%;
}
picture img {
  width: 100%;
}

header {
  display: flex;
  padding-top: 23px;
  padding-bottom: 20px;
  justify-content: space-between;
}
header:has(nav #nav-button[aria-expanded=true]) #nav-overlay {
  right: 0;
}
header:has(nav #nav-button[aria-expanded=true]) #nav-menu {
  right: 0;
  transition-delay: 0s;
  transition-duration: 0.4s;
}
header:has(nav #nav-button[aria-expanded=true]) #nav-button[aria-expanded=true] {
  background-image: url("../../assets/images/icon-menu-close.svg");
}
@media only screen and (min-width: 1024px) {
  header {
    padding-top: 83px;
    padding-bottom: 45px;
  }
}

nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
@media only screen and (min-width: 768px) {
  nav {
    width: 100%;
  }
}

.nav-logo-link {
  display: block;
  width: 45px;
  height: 45px;
}
.nav-logo-link img {
  width: 45px;
  height: 37px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (min-width: 768px) {
  .nav-logo-link {
    width: 68px;
    height: 55px;
  }
  .nav-logo-link img {
    width: 100%;
    height: 100%;
  }
}

#nav-overlay {
  position: fixed;
  top: 0;
  right: -200vw;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: hsla(240, 100%, 5%, 0.6);
  transition: background-color 0.4s ease-out;
  transition: right 0.6s ease-out;
}

#nav-menu {
  position: fixed;
  top: 0;
  right: -200vw;
  z-index: 9;
  background-color: var(--color-light-00);
  width: calc(74vw - var(--mobile-col-gap));
  height: 100vh;
  padding: 134px 4.27vw 0 var(--mobile-col-gap);
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  transition: right 0.8s ease-out;
  transition-delay: 0.1s;
}
#nav-menu li,
#nav-menu a {
  width: 100%;
  font-size: 1.125rem;
}
#nav-menu a {
  display: inline-block;
  color: var(--color-dark-01);
  padding: 10px 0;
}
#nav-menu a:hover {
  color: var(--color-secondary);
}
@media only screen and (min-width: 768px) {
  #nav-menu {
    position: unset;
    width: unset;
    height: unset;
    top: unset;
    right: unset;
    flex-direction: row;
    align-items: center;
    padding: unset;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  #nav-menu li {
    height: -moz-fit-content;
    height: fit-content;
  }
  #nav-menu a {
    padding: 0;
  }
  #nav-menu li,
  #nav-menu a {
    font-size: 0.95rem;
  }
}

#nav-button {
  width: 2.5625rem;
  height: 2.5625rem;
  padding: 0;
  background-color: transparent;
  border: none;
  background-image: url("../../assets/images/icon-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
  border-bottom: 3px transparent solid;
  transition: border-color 0.2s ease-out, background-color 0.2s ease-out;
}
#nav-button:hover {
  border-color: var(--color-primary);
}
#nav-button:active {
  background-color: var(--color-primary);
  border-color: transparent;
}
@media only screen and (min-width: 768px) {
  #nav-button {
    transform: translateX(-200vw);
  }
}

.main-article-section {
  margin-bottom: 64px;
}
@media only screen and (min-width: 1024px) {
  .main-article-section {
    grid-column: 1/3;
  }
}

.main-article picture,
.main-article img,
.main-article source {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-article__heading {
  margin: 16px 0;
  font-weight: 800;
  font-size: clamp(2.5rem, 3.5vw + 1rem, 3.5rem);
  line-height: 100%;
}
.main-article .button-link {
  margin-top: 22px;
}
@media only screen and (min-width: 1024px) {
  .main-article {
    display: grid;
    align-items: start;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    row-gap: 35px;
    -moz-column-gap: var(--desktop-col-gap);
         column-gap: var(--desktop-col-gap);
  }
  .main-article picture {
    grid-row: 1;
    grid-column: 1/-1;
    height: 100%;
  }
  .main-article picture > * {
    height: 100%;
  }
  .main-article__heading {
    grid-row: 2/-1;
    grid-column: 1;
    margin: 0;
  }
  .main-article__description {
    grid-row: 2;
    grid-column: 2;
    margin-top: -1px;
  }
  .main-article .button-link {
    grid-row: 3;
    grid-column: 2;
    margin: -6px 0 0;
  }
}

.new-articles-aside {
  margin-bottom: 63px;
  padding: 28px 20px 24px 22px;
}
.new-articles-aside h2 {
  margin-bottom: 35px;
  font-size: clamp(2.188rem, 2vw + 1rem, 2.438rem);
}
@media only screen and (min-width: 768px) {
  .new-articles-aside {
    margin-bottom: 78px;
    padding: 35px 22px;
  }
  .new-articles-aside h2 {
    margin-bottom: 40px;
  }
  .new-articles-aside h3 {
    letter-spacing: 0.04rem;
  }
}
@media only screen and (min-width: 1024px) {
  .new-articles-aside {
    margin-bottom: 72px;
    padding: 40px 24px 33px;
  }
}

#new-articles-container {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
@media only screen and (min-width: 1024px) {
  #new-articles-container {
    gap: 30px;
  }
}

.new-article::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-dark-00);
  margin-bottom: 29px;
}
.new-article:first-child::before {
  display: none;
}
.new-article a {
  color: var(--color-light-00);
}
.new-article a:hover {
  color: var(--color-secondary);
}
.new-article a:active {
  border-bottom-color: var(--color-secondary);
}
.new-article h3 {
  margin-bottom: 7px;
}
@media only screen and (min-width: 1024px) {
  .new-article::before {
    margin-bottom: 31px;
  }
}

.ordered-articles-section {
  margin-bottom: 78px;
}
@media only screen and (min-width: 768px) {
  .ordered-articles-section {
    grid-column: 1/-1;
  }
}

#ordered-articles-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 33px;
  counter-reset: item;
}
#ordered-articles-list li:before {
  content: "0" counter(item);
  counter-increment: item;
  margin-top: 4px;
  font-size: 2.1rem;
  font-weight: 700;
  color: var(--color-primary);
  display: inline;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (min-width: 1024px) {
  #ordered-articles-list {
    flex-direction: row;
    -moz-column-gap: var(--desktop-col-gap);
         column-gap: var(--desktop-col-gap);
  }
}

.secondary-article {
  display: grid;
  grid-template-columns: minmax(auto, 200px);
  grid-template-rows: 150px repeat(3, auto);
  justify-content: center;
  -moz-column-gap: var(--mobile-col-gap);
       column-gap: var(--mobile-col-gap);
  row-gap: 14px;
}
.secondary-article > * {
  height: -moz-fit-content;
  height: fit-content;
}
.secondary-article::before {
  grid-row: 2;
}
.secondary-article img {
  grid-row: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.secondary-article h3 {
  grid-row: 3;
  letter-spacing: 0.01rem;
}
.secondary-article p {
  grid-row: 4;
  margin-top: -8px;
}
@media only screen and (min-width: 375px) {
  .secondary-article {
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .secondary-article::before {
    grid-row: 1;
    grid-column: 2;
  }
  .secondary-article img {
    grid-row: 1/-1;
    grid-column: 1;
  }
  .secondary-article h3 {
    grid-row: 2;
    grid-column: 2;
  }
  .secondary-article p {
    grid-row: 3;
    grid-column: 2;
  }
}
@media only screen and (min-width: 768px) {
  .secondary-article {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .secondary-article {
    width: 100%;
    row-gap: 12px;
  }
  .secondary-article h3 {
    letter-spacing: -0.03rem;
  }
}

#skip-link {
  display: block;
  background-color: var(--color-primary);
  color: var(--color-dark-01);
  padding: 2px 10px;
  position: absolute;
  z-index: 99;
  top: -200vh;
  left: 0;
  transition: transform 0.2s ease-out;
  transition-delay: 2s;
}
#skip-link:focus {
  transform: translateY(200vh);
  transition-delay: 0s;
}

.button-link {
  background-color: var(--color-primary);
  color: var(--color-dark-01);
  text-transform: uppercase;
  letter-spacing: 0.27rem;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 175%;
  padding: 12px 31px 10px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom-width: 3px;
  transition: background-color 0.2s ease-out, color 0.2s ease-out, border-bottom-color 0.2s ease-out;
}
.button-link:hover {
  background-color: var(--color-dark-01);
  color: var(--color-light-00);
}
.button-link:active {
  background-color: transparent;
  color: var(--color-dark-01);
  border-bottom-color: var(--color-primary);
}

.background-dark-01 {
  background-color: var(--color-dark-01) !important;
  color: var(--color-light-01);
}

.text-color-secondary {
  color: var(--color-secondary) !important;
}

.error-element__heading {
  margin-bottom: 20px;
}