:root {
    --mobile-col-gap: 5.87vw;
    --desktop-col-gap: 2.08vw;
    --color-primary: hsl(5, 85%, 63%);
    --color-secondary: hsl(35, 77%, 62%);
    --color-light-00: hsl(36, 100%, 99%);
    --color-light-01: hsl(233, 8%, 79%);
    --color-dark-00: hsl(236, 13%, 42%);
    --color-dark-01: hsl(240, 100%, 5%);
}

@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    position: relative;
    background-color: var(--color-light-00);
    color: var(--color-dark-00);
    font-family: "Inter", sans-serif;
    font-size: 0.9375rem;
    line-height: 175%;
}

header,
main {
    padding: 0 4.27vw;

    @media only screen and (min-width: 1440px) {
        padding-left: 11.46vw;
        padding-right: 11.46vw;
    }
}

main {
    @media only screen and (min-width: 768px) {
        display: grid;
        justify-content: stretch;
        grid-template-columns: 3fr 2fr;
        column-gap: var(--desktop-col-gap);
    }

    @media only screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

h1,
h2,
h3,
h4 {
    color: var(--color-dark-01);
    margin: 0;

    a {
        color: var(--color-dark-01);
        border-bottom-width: 2px;
    }
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: clamp(1.125rem, 0.25vw + 1rem, 1.188rem);
    letter-spacing: 0.0047rem;
}

a {
    color: var(--color-dark-00);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color 0.2s ease-out, background-color 0.2s ease-out,
        border-bottom-color 0.2s ease-out;

    &:hover {
        color: var(--color-primary);
    }

    &:active {
        border-bottom-color: var(--color-primary);
    }
}

nav {
    ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        gap: 20px;
    }
}

picture {
    width: 100%;

    img {
        width: 100%;
    }
}
