#skip-link {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-dark-01);
    padding: 2px 10px;
    position: absolute;
    z-index: 99;
    top: -200vh;
    left: 0;
    transition: transform 0.2s ease-out;
    transition-delay: 2s;

    &:focus {
        transform: translateY(200vh);
        transition-delay: 0s;
    }
}

.button-link {
    background-color: var(--color-primary);
    color: var(--color-dark-01);
    text-transform: uppercase;
    letter-spacing: 0.27rem;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 175%;
    padding: 12px 31px 10px;
    display: block;
    width: fit-content;
    border-bottom-width: 3px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out,
        border-bottom-color 0.2s ease-out;

    &:hover {
        background-color: var(--color-dark-01);
        color: var(--color-light-00);
    }

    &:active {
        background-color: transparent;
        color: var(--color-dark-01);
        border-bottom-color: var(--color-primary);
    }
}

.background-dark-01 {
    background-color: var(--color-dark-01) !important;
    color: var(--color-light-01);
}

.text-color-secondary {
    color: var(--color-secondary) !important;
}

.error-element {
    &__heading {
        margin-bottom: 20px;
    }
}
