$primary: hsl(5, 85%, 63%);
$secondary: hsl(35, 77%, 62%);
$light-00: hsl(36, 100%, 99%);
$light-01: hsl(233, 8%, 79%);
$dark-00: hsl(236, 13%, 42%);
$dark-01: hsl(240, 100%, 5%);

@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

body {
    margin: 0;
    background-color: $light-00;
    color: $dark-00;
    font-size: 0.9375rem;
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
    color: $dark-01;
    a {
        color: $dark-01;
    }
}

a {
    color: $dark-00;
    text-decoration: none;
    &:hover {
        color: $primary;
    }
}

nav {
    ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        gap: 20px;
    }
}

.button-link {
    background-color: $primary;
    color: $dark-01;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-size: 0.875rem;
    padding: 12px 20px;

    &:hover {
        background-color: $dark-01;
        color: $light-00;
    }
}
